body {
  padding: 0;
  margin: 0;
  background-color: #95D7B1;
  color: #2D3236;
}

.navbar-brand {
	font-family: 'Reggae One', cursive;
	font-size: 40px;
	color: #2D3236!important;
}


.nav-item {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 24px;
}

.nav-link {
	color: #2D3236!important;
}
